include /_mixins

doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    +stylesheet_link_tag("application")
    +javasript_include_tag("vendor/all")
    +javasript_include_tag("handlebars_templates")
  body
    header
      #cart

    main
      block content

    +javasript_include_tag("application")
    +javasript_include_tag("models/album")
    +javasript_include_tag("collections/albums", "collections/cart_items")
    +javasript_include_tag("views/album", "views/new_album", "views/index", "views/cart_view")
    script(type="text/javascript").
      App.albums = new Albums(!{JSON.stringify(albums)})
    +javasript_include_tag("router")
    block scripts