canvas {
  display: block;
  border: 1px solid #a0a0a0;
  margin: 0 auto;
}

ul {
  width: 800px;
  padding: 25px 0 0 0;
  margin: 0 auto;
}

li {
  display: inline-block;
  padding: 0 5px 0 0;
}

a {
  display: block;
  padding: 8px 20px;
  color: #333;
  background: #ececec;
  text-decoration: none;
}

a.active {
  color: #fff;
  background: #0066cc;
}

fieldset {
  border: none;
  padding: 0;
}