@import url("reset.css");

* {
  box-sizing: border-box;
}

body {
  font: normal 16px Helvetica, Arial, sans-serif;
}

header {
  text-align: center;
  padding: 30px 0;
  background: linear-gradient(to bottom, #5d317d, #774899);
}

h1 {
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

h2 {
  font-size: 26px;
  font-weight: 400;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

header p {
  color: #d2bae4;
  padding-top: 10px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  color: #5d317d;
  border: 1px solid #5d317d;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

.selected, .btn:hover {
  color: #fff;
  background: #5d317d;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  text-align: center;
  padding: 20px 0;
  background: #f5f5f5;
  border-radius: 4px;
}

.function-bar {
  margin-bottom: 20px;
}

.contacts > div > .btn {
  padding: 12px 14px;
  font-size: 16px;
}

#search {
  width: 20%;
  font-size: 16px;
  margin-left: 25%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.empty-search-placeholder {
  display: none;
}

.tagging {
  margin-top: 10px;
  text-align: left;
}

.tagging p {
  float: left;
  margin: 5px 10px 0 30px;
  vertical-align: top
}

.tagging ul,
.tagging li,
.tagging form {
  display: inline-block;
  vertical-align: middle;
}

.tagging dl,
.tagging dt,
.tagging dd {
  display: inline-block;
  vertical-align: middle;
}

.tagging form {
  float: right;
  margin-right: 20px;
}

.tagging dd input {
  padding: 3px;
  font-size: 14px;
}

.tagging .btn {
  vertical-align: middle;
  padding: 6px 8px;
}

.tagging

li.btn {
  border-radius: 30%;
}

.contacts-form {
  display: none;
  max-width: 1120px;
  margin: 0 auto;
  top: 272px;
  box-sizing: border-box;
}

.contacts-form h2 {
  text-align: center;
  margin: 0 0px 20px 0px;
  padding: 15px 0;
  border-bottom: 1px solid #f5f5f5;
}

.contacts-form dt,
.contacts-form dd {
  display: inline-block;
  margin-bottom: 20px;
}

.contacts-form dt {
  width: 40%;
  text-align: right;
}

.contacts-form dt label {
  padding-right: 20px;
}

.contacts-form dd {
  width: 59%;
  text-align: left;
}

.contacts-form dd input {
  width: 60%;
  font-size: 14px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contacts-form input[type=submit] {
  width: 17%;
  margin-left: 40.5%;
  font-size: 16px;
  padding: 15px 0;
}

.contacts-form a {
  text-align: center;
  width: 17%;
  padding: 15px 0;
  margin-left: 1%;
}

.contacts-form ul {
  margin-left: 42%;
  padding: 20px 0;
}

.contacts-form ul li {
  display: inline-block;
}

.contacts-form ul label {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #b138ed;
  border-radius: 30%;
}

.contacts-form ul label:hover {
  cursor: pointer;
}

.contacts-form ul input[type='checkbox'] {
  display: none;
}

.contacts-form ul input:checked + label {
  color: #fff;
  background: #b138ed;
}

.contacts-container {
  overflow: hidden;
  max-width: 1120px;
  margin: 0 auto;
}

.contacts-container li {
  float: left;
  width: 23.5%;
  border-bottom: 1px solid #f5f5f5;
}

.contacts-container li + li {
  margin-left: 2%;
}

.contacts-container li:nth-of-type(4n - 3) {
  margin-left: 0
}

.contacts-container h3 {
  font-size: 22px;
  padding: 25px 0 20px 0;
}

.contacts-container dt {
  font-weight: 600;
}

.contacts-container dt,
.contacts-container dd {
  padding-bottom: 5px;
}

.contacts-container a.btn {
  text-align: center;
  vertical-align: middle;
  width: 60px;
  padding: 4px 8px;
  margin: 10px 0;
}

.tag-dec {
  display: inline-block;
  padding: 5px 5px 0 5px;
  color: #fff;
  background: pink;
  border: 1px solid pink;
  border-radius: 5px;
}
footer {
  max-width: 1120px;
  margin: 20px auto 0 auto;
  text-align: center;
  padding: 10px 0 0 0;
  border-top: 1px solid #f5f5f5;
}

footer p {
  color: #333333;
}
